body{
    margin: auto;
    font-family: monospace, FreeMono;
}
header{
    height: 100%;
    background-color: #2e2e2e;
    color: #C7C7C7;
    position: relative;
    z-index: 5;
    padding:  10px 30px;
}
.header_bar{
    height: 100%;
    width: 90%;
    /* min-height: 50px; */
    /* font-size: 45px; */
    font-size: clamp(16px, 10 * (1vw + 1vh) / 6, 45px);

}
.header_bar_desc{
    width: 90%;
    font-size: clamp(10px, 10 * (1vw + 1vh) / 8, 18px);
    margin-top: 10px;
}

main{
    height: 100%;
    position: relative;

}
.backgr_quest{
    width: 90%;
    max-width: 900px;
    min-height: 500px;
    margin: 0 auto;
    margin-top: 2%;
    z-index: 4;
    box-shadow: 0px 5px 15px 4px rgba(0, 0, 0, 0.2);
    border-radius: 1%;
    background-color: #c5c5c5;
    padding-bottom: 40px;


}
.question1, .question2, .question3, .question4, .question5, .question6, .question7, .question8, .question9, .question10, .question11{
    width: 90%;
    /* font-size: 30px; */
    font-size: clamp(10px, 10 * (1vw + 1vh) / 8, 30px);
    padding-top: 20px;
    /* margin-left: 40px; */
    margin: 0 auto;
    text-align: justify ;

}
.answer{
    height: 100%;
    width: 90%;
    /* font-size: 20px; */
    font-size: clamp(10px, 10 * (1vw + 1vh) / 10, 20px);

    line-height: 50px;
    margin: 0 auto;
    padding-top: 20px;
    /* padding-left: 40px; */
    /* height: 300px; */
    text-align: justify ;
}
.btn_answer{
    display: block;
    margin-top: 50px;
    margin: auto;
    margin-top: 50px;
    /* margin-bottom: 130px; */
    font-size: 20px;
    padding: 10px 40px 10px 40px;
    border: none;
    background-color: #2e2e2e;
    color: #c5c5c5;
    cursor: pointer;

}
.btn_answer::before {
    content: '';
    position: absolute;
    background-color: #2e2e2e;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
  }
  
.btn_answer:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #ffffff;
  }
  
.btn_answer:hover {
    color: #ffffff;
    box-shadow: 0 0 5px #000000;
    text-shadow: 0 0 5px #ffffff;
  }






  .btn_back{
    display: block;
    position: absolute;
    margin-left: 20px;
    font-size: 20px;
    padding: 10px 40px 10px 40px;
    border: none;
    background-color: #2e2e2e;
    color: #c5c5c5;
    cursor: pointer;

}
.btn_back::before {
    content: '';
    position: absolute;
    background-color: #2e2e2e;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
  }
  
.btn_back:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #ffffff;
  }
  
.btn_back:hover {
    color: #ffffff;
    box-shadow: 0 0 5px #000000;
    text-shadow: 0 0 5px #ffffff;
  }

input[type=radio]{
    width: 20px;
    height: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.result_cont{
    /* width: 900px; */
    width: 90%;
    min-width: 90px;
    max-width: 900px;
    /* height: 500px; */
    margin: 0 auto;
    margin-top: 2%;
    z-index: 4;
    box-shadow: 0px 5px 15px 4px rgba(0, 0, 0, 0.2);
    border-radius: 1%;
    background-color: #c5c5c5;
    padding-bottom: 40px;
}

.result_head{
    font-size: 35px;
    padding: 20px 30px;
}

.result_body{
    /* width: 100%; */
    display: flex;
    font-size: 20px;
    padding: 20px 30px;
}
.result_text{
    padding-left: 20px;
    text-align: justify;
}

.img_an{
    display: block;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    margin-top: 2%;
    z-index: 4;
    padding-top: 20px;
}
.text_an{
    font-size: 35px;
    text-align: center;
    margin: 0;
    margin-top: 20px;
}

@media screen and (max-width: 540px){
    .result_body{
        display: block;
    }
    .img{
        display: block;
        margin: 0 auto;
    }
    .result_text{
        padding-left: 0;
        margin-top: 20px;
    }
    .result_head{
        font-size: 25px;
    }
    .img_an{
        width: 200px;
        height: 200px;
    }
    .text_an{
        font-size: 25px;
    }
}